#wrap{
    max-width: 73.8rem;
    width: 100%;
    margin: 0 auto;å}
img {
    display: block;
}
.body_wrap {
    display: block;
    width: 100%;
    border-left: 0.1rem solid #2b2b2b;
    border-right: 0.1rem solid #2b2b2b;}
.content_wrap{
    border-left: 0.1rem solid #2b2b2b;}

aside {
display: none}

aside .gnb{display: none;}


.exhibition .Exhibit_info a img,
.education .edu_info a img {
    display: block;
    max-width: 100%;
    object-fit: scale-down;
}

.exhibition .Exhibit_tit {
    margin: 3rem 4.5rem 0 0;
    text-align: right;
    font-weight: 500;
    font-size: 4rem;
}

.exhibition {
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow-x: auto;
}

.exhibition .Exhibit_info{
    border-left: 0.1rem solid #2b2b2b;}

.exhibition .Exhibit_info ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 2rem;
    padding: 2rem
}

.exhibition .Exhibit_info .tit .title_ko {
    font-size: 2.6rem;
}


.education {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-top: 0.1rem solid #2b2b2b;
    overflow-x: auto;

}

.education .edu_tit {
    display: grid;
    grid-template-rows: 5fr 1fr;
    margin: 2rem 4.5rem 0 0;
    text-align: right;
    font-weight: 500;
    font-size: 4rem;
}


.education .edu_tit a {
    font-size: 2.2rem;
    font-weight: 400;
    width: 100%;
    text-decoration: underline;
}

.education .edu_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-x: auto;
    width: 100%;
    border-left: 0.1rem solid #2b2b2b;;}

.education .edu_info a img{
    font-size: 0;
    line-height: 0;
    max-width: 100%;

}

.education .edu_info .edu_subtit {
    display: block;
    font-size: 2.2rem;
    line-height: 5rem;
    padding-left: 1rem;
    color: #fbfbfb;
    background-color: #2b2b2b;
}

.tottv {
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: max-content;
    border-top: 0.1rem solid #2b2b2b;
}
.tottv .tottv_tit img{
    margin: 4rem 0 0 4rem}

.tottv .tottv_tit a {
    display: block;
    margin: 12.5rem 3rem 3rem 0;
    float: right;
    font-size: 2.2rem;
    font-weight: 400;
    text-decoration: underline;}

.tottv .tottv_video{
    border-left: 0.1rem solid #2b2b2b;
    }

.tottv .tottv_video iframe{
    display: block;
    width: 100%;
    border: 0;}

.tottv .tottv_video em{
    font-size: 3rem;
    font-weight: 700;
    line-height:6rem;
    margin-left: 2rem;}

.press{
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    border-top: 0.1rem solid #2b2b2b;

}

.press .press_info{
    grid-column: 2;
    background-color: #2b2b2b;
}

.press .press_info .press_logo{
    margin: 3rem 0 6.5rem 2rem ;}

.press .press_info .view{
    display: block;
    font-size: 2.2rem;
    font-weight: 400;
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-decoration: underline;
    color:#fbfbfb;
    text-align: right;}

.press .press_info .book_pic{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    border-right: 0.1rem solid #2b2b2b;
}

.press .press_info .book_pic img{
    max-width: 100%;
    object-fit: scale-down;
    margin-right: 1rem;}
.press .former_totaldesign{
    position: relative;
}

.press .former_totaldesign .dream{
    font-size: 0;
    line-height: 0;

    }
.press .former_totaldesign .dream::before{
    width: 8.5rem;
    height: 8.5rem;
    position: absolute;
    top: 3rem;
    right : 2rem;
    background-image: url(../images/DREAMM.png);
    background-repeat: no-repeat;
    background-size: 8rem auto;
    content: '';
    }
.press .former_totaldesign .formerlogo{
    font-size: 0;
    line-height: 0;

    }
.press .former_totaldesign .formerlogo::before{
    position: absolute;
    bottom: 2rem;
    right : 2rem;
    width: 3rem;
    height: 22rem;
    background-image: url(../images/former\ logo.png);
    background-repeat: no-repeat;
    background-size: auto 22rem;
    content: '';
    }

.location h2{
    font-size: 4rem;
    font-weight: 500;
    padding: 5rem 0 1rem 5rem;
    background-color: #2b2b2b;
    color: #fbfbfb;}
.location .map{
    width: 100%;
    height: 40rem;}
.location .map iframe{
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    filter: saturate(1)invert(1) hue-rotate(180deg) grayscale(0.75) sepia(0.35);}

.location .location_info .address .address_info em{
    font-size: 2.4rem;
    font-weight: 500;
    float: left;
    margin: 2rem 0 0 2rem;}

.location .location_info .address{
    display: grid;
    grid-template-columns: 2fr 4fr 3fr;
    border-bottom: 0.1rem solid #2b2b2b;}

.location .location_info .address img{
    width: 100%;
    object-fit: cover;}

.location .location_info .address .address_info{
    display: grid;
    font-size: 2rem;
    grid-template-rows: 4fr 1fr 1fr;
    margin-right: 2rem;
    text-align: right;}

.location .location_info .transpotation{
    display: grid;
    font-size: 2rem;
    grid-template-columns: 3fr 2fr 2fr 1.5fr;
    text-align: right;}

.location .location_info .img{
    width: 100%;
    object-fit: cover;}

.location .location_info .transpotation .trans_info{
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-items: end;
    text-align: right;
    border-right: 0.1rem solid #2b2b2b;}

.location .location_info .transpotation .trans_info li{
    display: block;
    margin: 0 2rem 1rem 0;}

.location .location_info .transpotation .trans_info em{
    font-size: 2.4rem;
    font-weight: 500;}

.location .location_info .transpotation .subway{
    display: grid;
    font-size: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: right;}

.location .location_info .transpotation .subway li{
    display: block;
    padding: 1.5rem 1.5rem 0 0;}

.location .location_info .subway li strong{
    display: block;}

.location .location_info .transpotation .title{
    text-align: left;
    font-weight: 500;
    margin-left: 2rem;
    color: #2b2b2b;}

.location .location_info .transpotation .subway,
.location .location_info .transpotation .bus{
color: #fbfbfb;}

.location .location_info .transpotation .subway .line_04 strong,
.location .location_info .transpotation .subway .line_ui strong{
margin-bottom: 3.5rem;}
.location .location_info .transpotation .subway .line_03 strong{
margin-bottom: 1rem;}

.location .location_info .transpotation .subway .line_03{
    background-color: #EF7C1C;}
.location .location_info .transpotation .subway .line_04{
    background-color: #01A4DE;}
.location .location_info .transpotation .subway .line_ui{
    background-color: #B7C452;}

.location .location_info .transpotation .subway strong{
    font-weight: 600;}

.location .location_info .bus{
    display: grid;
    font-size: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: right;}

.location .location_info .transpotation .bus .greenbus,
.location .location_info .transpotation .bus .bluebus{
    line-height: 3rem;
    padding: 1rem 1rem 0 0;}

.location .location_info .transpotation .bus .bluebus{
    grid-column: 2;
    background-color: #456CE0;}

.location .location_info .transpotation .bus .greenbus{
    background-color: #65C056;}
.location .location_info .transpotation .bus .title{
    margin-top: 1.5rem;} 

.footer .footer_wrap{
    display: flex;
    justify-content: space-between;
    border-top: 0.1rem solid #2b2b2b;
    background-color: #fbfbfb;
    color: #2b2b2b;}